.filtres_select {
  width: 260px;
  height: 43px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.filtres_select option {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 12px;
}
.select__title {
  font-weight: 700;
}
.filtres__container {
  display: flex;
  justify-content: space-between;
  max-width: 1148px;
  margin: auto;
}
.filtres__container2 {
  display: flex;
  gap: 20px;
}
