.filtres_select {
  width: 260px;
  height: 43px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 800px) {
  .filtres_select {
    width: 160px;
    height: 43px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
  }
  .filtres__container2 {
    display: flex;
    gap: 20px;
  }
  .filtres__container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
  }
}
@media (max-width: 500px) {
  .filtres_select {
    width: 100px;
    height: 43px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
  }
}
.filtres_select option {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 12px;
}
.filtres_select option:hover {
  color: red;
  background-color: red;
}
.filtres_select option:active {
  color: red;
  background-color: red;
}
.select__title {
  font-weight: 700;
}
.filtres__container {
  display: flex;
  justify-content: space-between;
  max-width: 1148px;
  margin: auto;
}
.filtres__container2 {
  display: flex;
  gap: 20px;
}
